body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

#contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center;
    color: #333; 
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: relative; 
}

.botonContratar {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.botonContratar:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro al pasar el mouse */
}